.appointment {
  border-bottom-width: thick;
}

#confirm {
  display:none;
  color:white;
  font-size: 18pt;
  margin-top: 30px;
}

.green-background {
  background-color: green;
}

.form-group {
  width:50%;
}

#date {
  width:200px;
}

#timestart
